In [1]:
# Import file from your system
from google.colab import files
file = files.upload()

Saving basketball.sqlite to basketball.sqlite

In [4]:
# Connect with sqlite database
# Import necessary libraries
import sqlite3

database = 'basketball.sqlite'

conn = sqlite3.connect(database)
print('Opened data successfully')

Opened data successfully

In [5]:
import pandas as pd
 
tables = pd.read_sql("""SELECT *
                    FROM sqlite_master
                    WHERE type=='table';""", conn)

tables

     type  ...                                                sql
0   table  ...  CREATE TABLE "Player" (\n"id" TEXT,\n  "full_n...
1   table  ...  CREATE TABLE "Team" (\n"id" TEXT,\n  "full_nam...
2   table  ...  CREATE TABLE "Team_Attributes" (\n"ID" TEXT,\n...
3   table  ...  CREATE TABLE "Team_History" (\n"ID" TEXT,\n  "...
4   table  ...  CREATE TABLE "Player_Attributes" (\n"ID" TEXT,...
5   table  ...  CREATE TABLE "Game_Officials" (\n"OFFICIAL_ID"...
6   table  ...  CREATE TABLE "Game_Inactive_Players" (\n"PLAYE...
7   table  ...  CREATE TABLE "Game" (\n"GAME_ID" TEXT,\n  "SEA...
8   table  ...  CREATE TABLE `Team_Salary` (\n  `nameTeam` TEX...
9   table  ...  CREATE TABLE `Player_Salary` (\n  `slugSeason`...
10  table  ...  CREATE TABLE `Draft` (\n  `yearDraft` REAL,\n ...
11  table  ...  CREATE TABLE `Draft_Combine` (\n  `yearCombine...
12  table  ...  CREATE TABLE `Player_Photos` (\n  `isActive` I...
13  table  ...  CREATE TABLE `Player_Bios` (\n  `namePlayerBRE...

[14 rows x 5 columns]

In [6]:
result = pd.read_sql("""SELECT * 
                    FROM Draft;""", conn)
result

      yearDraft  ...  locationOrganizationFrom
0        2020.0  ...                      None
1        2020.0  ...                      None
2        2020.0  ...                 Australia
3        2020.0  ...                      None
4        2020.0  ...                      None
...         ...  ...                       ...
7885     1949.0  ...                      None
7886     1949.0  ...                      None
7887     1949.0  ...                      None
7888     1949.0  ...                      None
7889     1949.0  ...                      None

[7890 rows x 16 columns]

In [13]:
result = pd.read_sql("""SELECT nameTeam, COUNT(DISTINCT idPlayer) 
                    FROM Draft
                    GROUP BY nameTeam
                    ORDER BY COUNT(DISTINCT idPlayer) DESC;""", conn)
result.head(10)

                 nameTeam  COUNT(DISTINCT idPlayer)
0         New York Knicks                       474
1          Boston Celtics                       448
2         Detroit Pistons                       363
3      Philadelphia 76ers                       360
4           Chicago Bulls                       341
5            Phoenix Suns                       307
6      Los Angeles Lakers                       302
7           Atlanta Hawks                       285
8  Portland Trail Blazers                       273
9         Milwaukee Bucks                       267