In [1]:
# Import file from your system
from google.colab import files
file = files.upload()

Saving basketball.sqlite to basketball.sqlite

In [2]:
# Connect with sqlite database
# Import necessary libraries
import sqlite3

database = 'basketball.sqlite'

conn = sqlite3.connect(database)
print('Opened data successfully')

Opened data successfully

In [3]:
import pandas as pd
 
tables = pd.read_sql("""SELECT *
                    FROM sqlite_master
                    WHERE type=='table';""", conn)

tables

     type  ...                                                sql
0   table  ...  CREATE TABLE "Player" (\n"id" TEXT,\n  "full_n...
1   table  ...  CREATE TABLE "Team" (\n"id" TEXT,\n  "full_nam...
2   table  ...  CREATE TABLE "Team_Attributes" (\n"ID" TEXT,\n...
3   table  ...  CREATE TABLE "Team_History" (\n"ID" TEXT,\n  "...
4   table  ...  CREATE TABLE "Player_Attributes" (\n"ID" TEXT,...
5   table  ...  CREATE TABLE "Game_Officials" (\n"OFFICIAL_ID"...
6   table  ...  CREATE TABLE "Game_Inactive_Players" (\n"PLAYE...
7   table  ...  CREATE TABLE "Game" (\n"GAME_ID" TEXT,\n  "SEA...
8   table  ...  CREATE TABLE `Team_Salary` (\n  `nameTeam` TEX...
9   table  ...  CREATE TABLE `Player_Salary` (\n  `slugSeason`...
10  table  ...  CREATE TABLE `Draft` (\n  `yearDraft` REAL,\n ...
11  table  ...  CREATE TABLE `Draft_Combine` (\n  `yearCombine...
12  table  ...  CREATE TABLE `Player_Photos` (\n  `isActive` I...
13  table  ...  CREATE TABLE `Player_Bios` (\n  `namePlayerBRE...

[14 rows x 5 columns]

In [10]:
result = pd.read_sql("""SELECT * 
                    FROM Team_Attributes;""", conn)
result.head()

           ID  ...              TWITTER_WEBSITE_LINK
0  1610612737  ...      https://twitter.com/ATLHawks
1  1610612738  ...       https://twitter.com/celtics
2  1610612739  ...          https://twitter.com/cavs
3  1610612740  ...   https://twitter.com/PelicansNBA
4  1610612741  ...  https://twitter.com/chicagobulls

[5 rows x 14 columns]

In [13]:
result = pd.read_sql("""SELECT * 
                    FROM Team;""", conn)
result.head()

           id             full_name  ...          state year_founded
0  1610612737         Atlanta Hawks  ...        Atlanta         1949
1  1610612738        Boston Celtics  ...  Massachusetts         1946
2  1610612739   Cleveland Cavaliers  ...           Ohio         1970
3  1610612740  New Orleans Pelicans  ...      Louisiana         2002
4  1610612741         Chicago Bulls  ...       Illinois         1966

[5 rows x 7 columns]

In [12]:
result = pd.read_sql("""SELECT * 
                    FROM Team_Attributes
                    WHERE nickname IN (SELECT nickname 
                    FROM Team
                    WHERE state = 'New York');""", conn)
result

           ID  ...              TWITTER_WEBSITE_LINK
0  1610612751  ...  https://twitter.com/BrooklynNets
1  1610612752  ...      https://twitter.com/nyknicks

[2 rows x 14 columns]