In [ ]:
# Import file from your system
from google.colab import files
file = files.upload()

Saving basketball.sqlite to basketball.sqlite

In [ ]:
# Connect with sqlite database
# Import necessary libraries
import sqlite3

database = 'basketball.sqlite'

conn = sqlite3.connect(database)
print('Opened data successfully')

Opened data successfully

In [ ]:
import pandas as pd
 
tables = pd.read_sql("""SELECT *
                    FROM sqlite_master
                    WHERE type=='table';""", conn)

tables

     type  ...                                                sql
0   table  ...  CREATE TABLE "Player" (\n"id" TEXT,\n  "full_n...
1   table  ...  CREATE TABLE "Team" (\n"id" TEXT,\n  "full_nam...
2   table  ...  CREATE TABLE "Team_Attributes" (\n"ID" TEXT,\n...
3   table  ...  CREATE TABLE "Team_History" (\n"ID" TEXT,\n  "...
4   table  ...  CREATE TABLE "Player_Attributes" (\n"ID" TEXT,...
5   table  ...  CREATE TABLE "Game_Officials" (\n"OFFICIAL_ID"...
6   table  ...  CREATE TABLE "Game_Inactive_Players" (\n"PLAYE...
7   table  ...  CREATE TABLE "Game" (\n"GAME_ID" TEXT,\n  "SEA...
8   table  ...  CREATE TABLE `Team_Salary` (\n  `nameTeam` TEX...
9   table  ...  CREATE TABLE `Player_Salary` (\n  `slugSeason`...
10  table  ...  CREATE TABLE `Draft` (\n  `yearDraft` REAL,\n ...
11  table  ...  CREATE TABLE `Draft_Combine` (\n  `yearCombine...
12  table  ...  CREATE TABLE `Player_Photos` (\n  `isActive` I...
13  table  ...  CREATE TABLE `Player_Bios` (\n  `namePlayerBRE...

[14 rows x 5 columns]

In [ ]:
result = pd.read_sql("""SELECT * 
                    FROM Draft
                    WHERE nameOrganizationFrom IS NULL;""", conn)
result

In [ ]:
result = pd.read_sql("""SELECT *	 
                    FROM Team
                    ORDER BY year_founded DESC;""", conn)
result.head(5)

In [ ]:
result = pd.read_sql("""SELECT *	 
                    FROM Team
                    ORDER BY year_founded;""", conn)
result.head(5)